:root {

    --primary-color: #1D9BF0;
    --secondary-color: rgb(41, 38, 38);

}

::-webkit-scrollbar {

    display: none;

}

* {

    padding: 0;
    margin: 0;

}

body {

    background-color: black;
    font-family: 'Roboto', sans-serif;;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(209, 209, 209);

}

.wrapper {

    max-width: 1300px;
    display: flex;
    min-width: 1095px;


}

.menu {

    max-width: 300px;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: -50px;
    height: 100vh;
    position: fixed;


}

.menu ul {

    list-style: none;

}

.menu li {

    padding: 10px 0;
    margin: 5px 0px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;

}

.menu li:hover,
.profile:hover {

    background-color: var(--secondary-color);

}

.twitter-icon {

    font-size: 30px;
}

.new-post {

    background-color: var(--primary-color);
    padding: 10px;
    width: 48px;
    border-radius: 100%;

}

.menu .new-post:hover {

    background-color: var(--primary-color);

}

.profile {

    width: 45px;
    height: 45px;
    font-size: 30px;
    margin-bottom: 0px;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;


}

.add-post-profile {

    width: 55px;
    height: 55px;
    margin-left: 25px;
    border-radius: 100%;

}









.wall, .notification, .messages, .user {

    min-width: 650px;
    min-height: 100vh;
    width: 60%;
    border-left: 1px solid rgba(151, 151, 151, 0.5);
    border-right: 1px solid rgba(151, 151, 151, 0.5);
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);

    margin-left: 20px;
    display: none;

}

.top-bar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0 10px;
}

.top-bar i {

    display: block;
    font-size: 16px;
    line-height: 24px;
    width: 24px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    

}
.top-bar i:hover{

    background-color: #1D9BF0;

}

.add-post {

    display: flex;
    color: white;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(100, 100, 100);

}

.add-post-left i {

    margin-left: 20px;
    font-size: 40px;

}

.add-post-right {

    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;

}

.add-post-right select {

    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    color: var(--primary-color);
    padding: 5px 15px;
    display: block;
    width: max-content;
    cursor: pointer;

}

.add-post-right textarea {
    background-color: transparent;
    color: white;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    height: 100px;
    border: 1px solid black;
    resize: none;
}

.add-post-right textarea:focus {

    outline: none;
    border-color: var(--primary-color);

}

.add-post-right .add-post-select-repley {

    border: 0;
    user-select: none;
    appearance: none;
    width: fit-content;
    outline: none;
    padding-bottom: 10px;
    border-radius: 0;
    width: 100%;
    border-bottom: 2px solid rgb(100, 100, 100);

}

.bot-bar {

    margin-top: 10px;
    display: flex;
    justify-content: space-between;


}

input[type='file']{

    display: none;
}

.add-post-media i {

    font-size: 16px;
    padding: 5px 10px;
    width: max-content;
    margin: 0 2px;
    color: var(--primary-color);

}

.add-post-media i:hover {

    background-color: rgb(40, 40, 40);

}

.add-post-right button {

    padding: 10px 15px;
    background-color: #1D9BF0;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}

.post {

    width: 100%;
    border-bottom: 1px solid rgb(100, 100, 100);
    display: flex;
    margin-top: 20px;

    

}

.post-left {

    margin-left: 10px;
    font-size: 40px;

}
.post-left img {

    width: 55px;
    height: 55px;
    border-radius: 100%;
    margin: 5px 8px;
}

.post-right {

    
    margin: 10px 20px 10px 10px ;
    width: 600px;

}

.post-description {

    margin-top: 5px;
    font-size: 20px;

}

.post-text {
    margin: 20px 0;

}

.post-media {

    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
    overflow: hidden;

}

.post-media img {

    max-width: 100%;

}

.post-actions {

    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;




}

.post-actions div {

    font-size: 14px ;
    cursor: pointer;


}

.post-actions div:hover {

    color: #1D9BF0;
}









.rightbar {

    display: block;
    margin-left: 20px;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
 



}

.search {

    width: 300px;
    border-radius: 15px;
    font-size: 14px;
    color: white;
    background-color: rgb(40, 40, 40);
    border: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid rgb(40, 40, 40);
}

.search--input:focus  {

    outline: none;
    border-color: #1D9BF0;
    color: #1D9BF0;
 
}



.search--input {

    display: block;
    width: 100%;
    padding: 15px 15px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    color:  white;

}

.search.active {

    background-color: black;
    border-color: #1D9BF0;
    color: #1D9BF0;

}

.trends, .follow-recomendation {

    background-color: rgb(40, 40, 40);
    margin-top: 40px;
    width: 340px;
    border-radius: 15px;
    color: rgb(216, 215, 215);
    padding: 1px 0;

}

.trends ul, .follow-recomendation ul {

    list-style: none;

}

.trends h2, .follow-recomendation h2 {

    font-weight: 400;
    margin: 20px 0 20px;
    padding: 0 20px;
    font-size: 18px;

}

.trends li, .follow-recomendation li {

    margin: 15px 0;
    padding: 5px 20px;
    cursor: pointer;


}

.trends li:hover, .follow-recomendation li:hover{

    background-color: rgb(60, 60, 60);

}

.trends span {

    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    color: rgb(131, 131, 131);

}

.trends p {

    font-weight: bold;

}

.trends li i {

    position: absolute;
    right: 20px;
    top: 5px;
    color: rgb(100, 100, 100);
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;

}

.trends li i:hover {

    background-color: rgba(58, 120, 179, 0.5);
    color: var(--primary-color);

}

.trends .showmore, .follow-recomendation .showmore {

    display: block;
    top: 0;
    color: #1D9BF0;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;

}

.follow-recomendation li {

    display: flex;
    align-items: center;
    justify-content: space-between;

    

}

.follow-recomendation div {

    flex-grow: 1;
    display: flex;
    align-items: center;

}

.follow-recomendation img {

    width: 50px;
    height: 50px;
    border-radius: 100%;

    
}

.follow-recomendation p {

   
display: inline-block;
margin-left: 30px;  





}

.follow-recomendation button {

    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;

}

.post-place {

    color: white;
    width: 100%;

}

.red {

color:red;

}

.time {

    font-size: 14px;
    color: rgb(180, 180, 180);


}

 .follow-recomendation .folowed {

    background-color: var(--primary-color);
    color: white;

}





.modal-add-post , .modal-user-settings {

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 25, 41, 0.8);
    top:0;
    left: 0;
    display: none;
    justify-content: center;

}

.modal-add-post .add-post, .modal-user-settings .user-settings {

    width: 700px;
    height: fit-content;
    margin-top: 200px;
    background-color: black;
    padding: 30px 0px 30px 0;
    border-radius: 25px;
    z-index: 1;
    border: 2px solid var(--primary-color);

}
.modal-add-post.active , .modal-user-settings.active {

    display: flex;

}

.wall.active, .user.active, .notification.active , .messages.active {

    display: block;

}



